test/resources/xsd/cite/cite-gmlsf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sf="http://www.opengis.net/cite/gmlsf" targetNamespace="http://www.opengis.net/cite/gmlsf" elementFormDefault="qualified" version="2006.06">
	<xsd:annotation>
		<xsd:appinfo xmlns:gmlsf="http://www.opengis.net/gmlsf" source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>1</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>
      http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd
      </gmlsf:GMLProfileSchema>
		</xsd:appinfo>
		<xsd:documentation xml:lang="en">
    GML application schema used to assess compliance with the WFS 1.1 specification.
    This schema conforms to levels SF-0 and SF-1 of the Simple Features Profile 
    (OGC 06-049).
    </xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="../ogc/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd"/>
	<xsd:element name="SimpleFeatureCollection" type="sf:SimpleFeatureCollectionType" substitutionGroup="gml:_GML">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    General feature collection used as the root element in an instance document.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleFeatureCollectionType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:element name="featureMember">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="gml:_Feature"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SimplePointFeature" type="sf:SimplePointFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Simple feature with a Point-valued geometry property.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="pointProperty" type="gml:PointPropertyType"/>
	<xsd:complexType name="SimplePointFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element ref="sf:pointProperty"/>
					<xsd:element name="intProperty" type="xsd:integer"/>
					<xsd:element name="uriProperty" type="xsd:anyURI" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SimpleCurveFeature" type="sf:SimpleCurveFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Simple feature with a Curve-valued geometry property. A gml:LineString or 
    a gml:Curve having linear (gml:LineStringSegment) segments are acceptable 
    geometry representations.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleCurveFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="curveProperty" type="gml:CurvePropertyType"/>
					<xsd:element name="measurand1" type="gml:MeasureType"/>
					<xsd:element name="dateTimeProperty" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SimpleSurfaceFeature" type="sf:SimpleSurfaceFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Simple feature with a Surface-valued geometry property. A gml:Polygon or 
    a gml:Surface having gml:PolygonPatch patch elements are acceptable 
    geometry representations.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleSurfaceFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="surfaceProperty" type="gml:SurfacePropertyType"/>
					<xsd:element ref="sf:pointProperty" minOccurs="0"/>
					<xsd:element name="dateProperty" type="xsd:date"/>
					<xsd:element name="decimalProperty">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="4"/>
								<xsd:fractionDigits value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SimpleMultiPointFeature" type="sf:SimpleMultiPointFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Simple feature with a MultiPoint-valued geometry property.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleMultiPointFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="multiPointProperty" type="gml:MultiPointPropertyType"/>
					<xsd:element name="doubleProperty" type="xsd:double"/>
					<xsd:element name="intRangeProperty" type="sf:IntRangePropertyType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="IntRangePropertyType">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SimpleMultiCurveFeature" type="sf:SimpleMultiCurveFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Simple feature with a MultiCurve-valued geometry property. Acceptable 
    geometry members are the same as for SimpleCurveFeature.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleMultiCurveFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="multiCurveProperty" type="gml:MultiCurvePropertyType"/>
					<xsd:element name="strProperty" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SimpleMultiSurfaceFeature" type="sf:SimpleMultiSurfaceFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Simple feature with a MultiSurface-valued geometry property. Acceptable 
    geometry members are the same as for SimpleSurfaceFeature.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleMultiSurfaceFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="multiSurfaceProperty" type="gml:MultiSurfacePropertyType"/>
					<xsd:element ref="sf:hexBinaryProperty" minOccurs="0"/>
					<xsd:element name="featureCode" type="gml:CodeType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SimpleGeoFeature" type="sf:SimpleGeoFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Simple feature with a general geometry property. Acceptable geometry 
    representations include: gml:Point, gml:LineString, gml:Curve, gml:Polygon,
    gml:Surface, gml:MultiPoint, gml:MultiCurve, and gml:MultiSurface.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="geometryProperty" type="gml:GeometryPropertyType"/>
	<xsd:complexType name="SimpleGeoFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element ref="sf:geometryProperty"/>
					<xsd:element name="boolProperty" type="xsd:boolean"/>
					<xsd:element ref="sf:b64BinaryProperty" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="b64BinaryProperty">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:base64Binary">
					<xsd:attribute name="url" type="xsd:anyURI" use="optional"/>
					<xsd:attribute name="mimeType" type="xsd:string" use="required"/>
					<xsd:attribute name="role" type="xsd:string" use="optional"/>
					<xsd:attribute name="length" type="xsd:positiveInteger" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="hexBinaryProperty">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:hexBinary">
					<xsd:attribute name="url" type="xsd:anyURI" use="optional"/>
					<xsd:attribute name="mimeType" type="xsd:string" use="required"/>
					<xsd:attribute name="role" type="xsd:string" use="optional"/>
					<xsd:attribute name="length" type="xsd:positiveInteger" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SimpleMultiGeoFeature" type="sf:SimpleMultiGeoFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Simple feature with a generic multi-geometry property. Acceptable 
    geometry members are the same as for SimpleGeoFeature.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleMultiGeoFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="str4Property" type="sf:String4PropertyType"/>
					<xsd:element name="multiGeometryProperty" type="gml:MultiGeometryPropertyType"/>
					<xsd:element name="featureRef" type="gml:ReferenceType" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>sf:SimpleGeoFeature</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="String4PropertyType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ComplexGeoFeature" type="sf:ComplexGeoFeatureType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
    Feature having a complex property value for assessing compliance at level 
    SF-1.
    </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ComplexGeoFeatureType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element ref="sf:geometryProperty" maxOccurs="unbounded"/>
					<xsd:element name="auditTrail" type="sf:AuditTrailPropertyType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AuditTrailPropertyType">
		<xsd:sequence>
			<xsd:element name="Event" type="sf:EventType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EventType">
		<xsd:sequence>
			<xsd:element name="action" type="sf:ActionType"/>
			<xsd:element name="timestamp" type="xsd:dateTime"/>
			<xsd:element name="userid" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Insert"/>
			<xsd:enumeration value="Update"/>
			<xsd:enumeration value="Delete"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
